.footer{
   
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: rgb(163,217,177);

}
.textfooter1{
      display: flex;
      margin: 0;
      padding: 10px;
      color: black;
      margin-bottom: 5px;
      margin-top: 0px;
      font-weight: bold;

      

      
     
}
.textfooter2{
        display: flex;
        margin-bottom: 10px;
        margin-top: 0;
        color: black;
        font-weight: bold;
        
      
       
        

}

