*{
    box-sizing: border-box;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url(/public/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.herotexto{
    font-size: 4.5em;
    color: rgb(117, 59, 169);
    text-shadow: 0.01em 0.01em black;
    margin-top: -3%;

    
}

.herotexto1{
    font-size: 4.5em;
    color: rgb(117, 59, 169);
    text-shadow: 0.01em 0.01em black;
    margin-top: -3%;

    
    
}
.hh-nav-link-hero{
    margin-top: 0%;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    color: black ;
    background-color:  rgb(128, 215, 151);
    list-style: none;
    

    
    
}
.hh-nav-link-hero:hover{
    background-color: rgb(220, 204, 235);
} 


